.main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}
.heart {
  height: 10em;
  width: 6em;
  background-color: rgb(252, 98, 218);
  transform: rotate(45deg);
  border-radius: 50% 50% 0% 20%;
}
.heart::before {
  content: "";
  position: absolute;
  height: 10em;
  width: 6em;
  background-color: rgb(252, 98, 218);
  transform: rotate(-90deg);
  border-radius: 50% 50% 10% 20%;
  right: 2em;
  top: 2em;
}

.eyes {
  height: 1em;
  width: 1em;
  position: absolute;
  background: black;
  top: 2.5em;
  left: 3em;
  border-radius: 50%;
  transform: rotate(45deg);
}
.eyes::before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  background: black;
  top: 6em;
  border-radius: 50%;
}
.smile {
  transform: rotate(90deg);
  position: absolute;
  height: 1em;
  width: 2em;
  background: rgb(218, 218, 254);
  top: 3em;
  left: 3em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  border: 10px solid rgb(12, 12, 20);
  border-bottom: 0;
}
